
table{
width: 675px;
align:center;


}

tfoot td
{
 background-color:Orange;
 color:Navy;
 position:absolute;
 bottom:0;
 border:0;
}

table th {
	  
<<<<<<< HEAD
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:36px;
  font-style:italic;
  text-align: left;


}

table  td{
	  
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:44px;
  text-align: left;

=======
  border: 1px solid #000;
>>>>>>> e536c6526cf27ac1c555f666d7a41d428f97abcf

}






