
/* the overlayed element */
.apple_overlay {

    /* initially overlay is hidden */
    display:none;
    /* growing background image */
     
    background-image:url(../images/white.png);
    /*width after the growing animation finishes
      height is automatically calculated*/
    width:950px;    
    padding:35px;    
    font-size:11px;
    }

/* use a semi-transparent image for the overlay */
  #overlays {
    background-image:url(../images/transparent.png);
    color:#efefef;    
    height:450px;    
  }
  /* container for external content. uses vertical scrollbar, if needed */
  div .contentWrap {
    height:505px;
    text-align:left;
	margin:auto;
	width: 80%;		
	position: relative;
    overflow-y:auto;
  }  
  
  


#frente{  
	 visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}
/*
#overlay {    
     
    visibility: hidden;
	position: absolute;
	top: 0px; 
	left: 0px; 
	z-index: 9998;
	background-color: rgb(139, 0, 0);
	display: block; 
	opacity: 0.8; 
	width: 1353px; 
	height: 2462px;
}*/

#frente div {
     width:600px;
     height:600px;
     margin: 100px auto;
	 background: rgba(255,255,255,0.7);     
     border: 1px solid #000000;
     padding:15px;
     text-align:center;
     
     border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
	
	box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	-moz-box-shadow: 0px 0px 20px #000000;
	-o-box-shadow: 0px 0px 20px #000000;
}

.apple_overlay .close {
    background-image:url(../images/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}

#field{
	color:white;
	width:620px;
	height:450px;
	top:0px;
	padding:0px;
}
#field form textarea{
    width:500px;
    height:200px;
	background: rgba(255,255,255,0.5);
	border: 1px dotted white;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 0px 10px 0px 10px;	
	-webkit-border-radius: 0px 10px 0px 10px;		
	}

#table_overlay{
	width:81%;
	margin: 1%;
	float: left;
	border: 1px solid rgba(255,255,255,0.5);
	
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
	
	background: rgba(241,101,41,0.1);
	
	box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
	-o-box-shadow: 0px 0px 15px rgba(255,255,255,0.5);
}
#table_overlay tr{
	width: 100%;
	text-align: left;	
	border: 1px solid rgba(0,0,0,0.5);	
	background: rgba(255,255,255,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);	
	}

#table_overlay tr:nth-child(2n+1) td {
  background: #FFFFFF;
  color: #000;
}

#table_overlay tr:hover td {
  background: #FFC;
  color: #000;
}
	
/* root element for scrollable */
.scrollable { 
  /* required settings */
  position:relative;
  overflow:hidden; 
  /*
  vertical scrollables have typically larger height than width but
  not now
  */
  height: 665px;
  width: 700px;
  } 
  /* root element for scrollable items */
.scrollable .items {
  position:absolute; 
  /* this time we have very large space for the height */
  height:20000em;
  } 
  
  /* root element for scrollable */
.vertical {
    /* required settings */
    position:relative;
    overflow:hidden;
    /* vertical scrollers have typically larger height than width */
    height: 665px;
    width: 650px;
    border-top:1px solid #ddd;
}

/* root element for scrollable items */
.items {
    position:absolute;
    /* this time we have very large space for height */
    height:20000em;
    margin: 0px;
}

/* single scrollable item */
.item {
    border-bottom:1px solid #ddd;
    margin:10px 0;
    padding:15px;
    font-size:12px;
    height:180px;
}

/* elements inside single item */
.item img {
    float:left;
    margin-right:20px;
    height:180px;
    width:240px;
}
.item h3 {
    margin:0 0 5px 0;
    font-size:16px;
    color:#456;
    font-weight:normal;
}
/* the action buttons above the scrollable */
#actions {
    width:650px;
    margin:30px 0 10px 0;
}
#actions a {
    font-size:11px;
    cursor:pointer;
    color:#666;
    }
#actions a:hover {
    text-decoration:underline;
    color:#000;
}
.disabled {
    visibility:hidden;
}
.next {
    float:right;
}
