<table>
	<tbody>
		<tr>
			<td><br /><br /><br /><br /><br /><br /></td>
		</tr>
		<tr>
			<td width="110" align="left"><img src="{{ asset('bundles/dlaser/images/logo.png') }}" alt="Logo" width="90" height="90" /></td>
			<td width="430">
				<h1>DERMOLASER</h1>
				<h2>Sede {{ sede.nombre }}</h2>
			</td>
		</tr>
	</tbody>
</table>